:root {
    --background-color: rgb(185, 20, 80);
    --text-color: rgb(195, 56, 107);
    --ticket-color: rgb(128, 128, 128);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-page {
    background-color: var(--background-color);
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 5% 25% 15%;
}
.calculator-title{
    color: white;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 4%;
}
.ticket-title {
    color: white;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 1%;
}
.calculator-box {
    background-color: white;
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 3%;
}
.ticket-box {
    background-color: white;
    padding: 2%;
    margin-bottom: 3%;
}
.input-boxes {
    display: flex;
    justify-content: center;
    gap: 5%;
}
.button-box {
    margin-top: 4%;
    display: flex;
    justify-content: center;
    gap: 3%;
}
.name-box, .distance-box, .age-box {
    line-height: 200%;
}
.ctm_text-red {
    color: var(--text-color);
    font-weight: bold;
}
input, select {
    border-radius: 6px;
    padding: 4%;
    border: 2px solid var(--text-color);
}
button {
    padding: 4px;
    color: var(--text-color);
    font-weight: bold;
}
.ctm_fw_bold {
    font-weight: bold;
}
.traveler-detail {
    text-align: start;
    font-weight: bold;
    width: 30%;
}
.traveler-ticket {
    display: flex;
}
.ticket-left {
    background-color: var(--ticket-color);
    width: 30%;
    padding: 20px 0;
    padding-left: 10px;
    font-weight: bold;
    text-align: left;
}
.ticket-right {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    border-top: 1px solid var(--ticket-color);
    border-bottom: 1px solid var(--ticket-color);
    padding: 20px 0;
}
.discount-var, .wagon-var, .cp-code-var, .price-var {
    margin-top: 30px;
}
.hide1, .hide2 {
    display: none;
}